<h1>Cafeterias#index</h1>

<% @shops.each do |s| %>
	<%= s.id %> <%= s.name %> <%= s.direccion %> <%= s.url_web %> <%= s.url_facebook %> <%= s.url_foursquare %> <%= s.phone %> <%= s.email %> <br/>
<% end %>